* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

#slider {
    position: relative;
    height: 600px;
    width: 800px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#slider div {
    position: absolute;
}

#next,
#prev {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    top: 265px;
}

#next {
    background-image: url("img/next.png");
    right: 10px;
}

#prev {
    background-image: url("img/prev.png");
    left: 10px;
}

#line {
    height: 5px;
    background-color: yellow;
}